@page "/Codedash"
@using global::Codedash.Shared
@using global::Codedash.Client.Data
@using System.Net
@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Components
@inject HttpClient _httpClient
@inject ILocalStorageService _localStorage
@inject NavigationManager _navMan

<style>
    body {
        background-image: linear-gradient(to right, #ddd6f3, #faaca8);
    }
</style>

<div class="center-content">
    <h2 class="text-center">@_title</h2>
    <pre id="codedash-output" class="text-start">
        @_output
    </pre>
    <pre id="codedash-problem">
    <div class="text-start">
        @foreach ((Int32 index, ProblemBlock block) in _pbs.Collect(0, (i, block) =>
        {
            Int32 next = block.IsInput ? i + 1 : i;
            return ((i, block), next);
        }))
        {
            if (block.IsInput)
            {
                <input type="text" class="@styles[index]" @bind="inputs[index]" size="@block.FieldLength.ToString()"/>
            }
            else
            {
                <span style="white-space: pre">@block.Content</span>
            }
        }
    </div>
    </pre>
    <p class="@(_showNextLevel? "" : "d-none")" style="color: var(--bs-success)">
        Congratulations! You can go to the next level!
    </p>
    <p class="@(_showCampaignEnd ? "" : "d-none")" style="color: var(--bs-success)">
        You've completed all of the official levels! Wow!<br/>
        Check out some problems submitted by Codedashers like you!
    </p>
    <button @onclick="Submit" class="btn btn-primary mt-3 align-self-end">Submit</button>
    <button @onclick="GoToNextLevel" class="btn btn-success mt-3 align-self-end @(_showNextLevel? "" : "d-none")">Continue</button>
    <a href="/Listing" class="btn btn-success mt-3 align-self-end @(_showCampaignEnd ? "" : "d-none")">Go to Listing</a>

</div>

@code {

    [Parameter]
    [SupplyParameterFromQuery(Name = "id")]
    public String? Id { get; set; }

    private Boolean _isCampaign;

    private String _title = "";
    private Int32 _level;
    private String _output = "";
    private List<ProblemBlock> _pbs = new();
    private List<String> inputs = new();
    private List<String> styles = new();
    private Boolean _showNextLevel;
    private Boolean _showCampaignEnd;

    protected override async Task OnInitializedAsync()
    {
        Problem p = await ((Func<Task<Problem>>) (async () =>
        {
            if (Id is not null)
            {
                HttpResponseMessage response = await _httpClient.GetAsync($"ProblemApi/Get/{Id}");
                return (await response.Content.ReadFromJsonAsync<Problem>())!;
            }
            _isCampaign = true;
            if (!await _localStorage.ContainKeyAsync("codedash-campaign-level"))
            {
                await _localStorage.SetItemAsync("codedash-campaign-level", 0);
            }

            var level = await _localStorage.GetItemAsync<Int32>("codedash-campaign-level");

            HttpResponseMessage response0 = await _httpClient.GetAsync($"ProblemApi/Campaign/{level}");
            String guid = await response0.Content.ReadAsStringAsync();

            Id = guid;
            HttpResponseMessage response1 = await _httpClient.GetAsync($"ProblemApi/Get/{guid}");
            return (await response1.Content.ReadFromJsonAsync<Problem>())!;
        }))();

        _title = p.Title!;
        _output = p.Output!;
        _pbs = ProblemBlock.ParseProblemString(p.Chunks!);
        // Resize input list to match
        Int32 size = _pbs.Aggregate(0, (curr, next) => next.IsInput ? curr + 1 : curr);
        inputs.Resize(size, "");
        styles.Resize(size, "");
    }

    private async void Submit()
    {
        HttpResponseMessage response = await _httpClient.PostAsJsonAsync($"ProblemApi/Verify/{Id}", inputs);
        List<Int32> results = response.Content.ReadFromJsonAsync<List<Int32>>().Result!;
        foreach ((Int32 value, Int32 index) in results.Select((v, i) => (v, i)))
        {
            styles[index] = value switch
            {
                0 => "blank-wrong",
                1 => "blank-correct",
                _ => throw new InvalidOperationException("Blank broke")
                };
        }

        if (!results.TrueForAll(i => i == 1) || !_isCampaign) return;
        var level = await _localStorage.GetItemAsync<Int32>("codedash-campaign-level");
        HttpResponseMessage response0 = await _httpClient.GetAsync($"ProblemApi/Campaign/{level + 1}");
        // ReSharper disable once SwitchStatementHandlesSomeKnownEnumValuesWithDefault
        switch (response0.StatusCode)
        {
            case HttpStatusCode.OK:
                _showNextLevel = true;
                await Task.Delay(0);
                StateHasChanged();
                break;
            case HttpStatusCode.BadRequest:
                _showCampaignEnd = true;
                await Task.Delay(0);
                StateHasChanged();
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
    }

    private async void GoToNextLevel()
    {
        if (!await _localStorage.ContainKeyAsync("codedash-campaign-level"))
        {
            await _localStorage.SetItemAsync("codedash-campaign-level", 0);
        }
        
        _level = await _localStorage.GetItemAsync<Int32>("codedash-campaign-level");
        await _localStorage.SetItemAsync("codedash-campaign-level", _level + 1);
        
        _navMan.NavigateTo(_navMan.Uri, forceLoad: true);
    }

}