@page "/Codedash"
@inject HttpClient _httpClient
@using codedash.Shared
@using Microsoft.AspNetCore.Components
@using codedash.Client.Data
@using Blazored.LocalStorage
@inject ILocalStorageService _localStorage
@inject NavigationManager _navMan

<style>
    body {
        background-image: linear-gradient(to right, #ddd6f3, #faaca8);
    }
</style>

<div class="center-content">
    <h2 class="text-center">@_title</h2>
    <pre id="codedash-output" class="text-start">
        @_output
    </pre>
    <pre id="codedash-problem">
    <div class="text-start">
        @foreach (var (index, block) in _pbs.Collect(0, (i, block) =>
        {
            var next = block.IsInput ? i + 1 : i;
            return ((i, block), next);
        }))
        {
            if (!block.IsInput)
            {
                <input type="text" class="@styles[index]" @bind="inputs[index]" size="@block.FieldLength.ToString()"/>
            }
            else
            {
                <span style="white-space: pre">@block.Content</span>
            }
        }
    </div>
    </pre>
    <p class="@(_showNextLevel? "" : "d-none")" style="color: var(--bs-success)">
        Congratulations! You can go to the next level!
    </p>
    <button @onclick="Submit" class="btn btn-primary mt-3 align-self-end">Submit</button>
    <button @onclick="GoToNextLevel" class="btn btn-success mt-3 align-self-end @(_showNextLevel? "" : "d-none")">Continue</button>
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "id")]
    public string? Id { get; set; }

    private string _title = "";
    private int _level;
    private string _output = "";
    private List<ProblemBlock> _pbs = new();
    private List<string> inputs = new();
    private List<string> styles = new();
    private bool _showNextLevel;

    protected override async Task OnInitializedAsync()
    {
        
        Problem p = await ((Func<Task<Problem>>) (async () =>
        {
            if (!(Id is null))
            {
                HttpResponseMessage response = await _httpClient.GetAsync($"ProblemApi/Get/{Id}");
                return (await response.Content.ReadFromJsonAsync<Problem>())!;
            }
            if (!await _localStorage.ContainKeyAsync("codedash-campaign-level"))
            {
                await _localStorage.SetItemAsync("codedash-campaign-level", 0);
            }

            int level = await _localStorage.GetItemAsync<int>("codedash-campaign-level");

            HttpResponseMessage response0 = await _httpClient.GetAsync($"ProblemApi/Campaign/{level}");
            string guid = await response0.Content.ReadAsStringAsync();

            Id = guid;
            HttpResponseMessage response1 = await _httpClient.GetAsync($"ProblemApi/Get/{guid}");
            return (await response1.Content.ReadFromJsonAsync<Problem>())!;
        }))();

        _title = p.Title!;
        _output = p.Output!;
        _pbs = ProblemBlock.ParseProblemString(p.Chunks!);
        // Resize input list to match
        var size = _pbs.Aggregate(0, (curr, next) => next.IsInput ? curr + 1 : curr);
        inputs.Resize(size, "");
        styles.Resize(size, "");
    }

    private async void Submit()
    {
        HttpResponseMessage response = await _httpClient.PostAsJsonAsync($"ProblemApi/Verify/{Id}", inputs);
        List<int> results = response.Content.ReadFromJsonAsync<List<int>>().Result!;
        foreach (var (value, index) in results.Select((v, i) => (v, i)))
        {
            switch (value)
            {
                case 0:
                    styles[index] = "blank-wrong";
                    break;
                case 1:
                    styles[index] = "blank-correct";
                    break;
                default:
                    throw new InvalidOperationException("Blank broke");
            }
        }

        if (results.TrueForAll(i => i == 1))
        {
            Console.WriteLine("Badoosh!");
            _showNextLevel = true;
            await Task.Delay(0);
            StateHasChanged();
        }
    }

    private async void GoToNextLevel()
    {
        if (!await _localStorage.ContainKeyAsync("codedash-campaign-level"))
        {
            await _localStorage.SetItemAsync("codedash-campaign-level", 0);
        }
        
        _level = await _localStorage.GetItemAsync<int>("codedash-campaign-level");
        await _localStorage.SetItemAsync("codedash-campaign-level", _level + 1);
        
        _navMan.NavigateTo(_navMan.Uri, forceLoad: true);
    }

}