@page "/Listing"
@using global::Codedash.Shared
@inject HttpClient _httpClient

<style>
    body {
        background-image: linear-gradient(to right, #ddd6f3, #faaca8);
    }
</style>

<div class="center-content p-3" style="background-color: white; min-height: 70vh">
    <h3 class="mb-4">Listing</h3>
    @if (_problems!.Count > 0)
    {
        <table class="table table-bordered table-striped table-sm">
            <thead class="table-dark">
            <tr>
                <th>Title</th>
                <th>Difficulty</th>
                <th>User-submitted?</th>
            </tr>
            </thead>
            <tbody>
            @foreach (Problem problem in _problems)
            {
                <tr>
                    <td>@problem.Title</td>
                    <td>@problem.Difficulty.ToString()</td>
                    <td>@problem.IsUserMade.ToString()</td>
                </tr>
            }
            </tbody>

        </table>
    }
    else
    {
        <div class="@(_isError? "d-none" : "")">
            Loading problems...
        </div>
        <div class="@(_isError? "" : "d-none")">
            <p>It looks like our server is broken!</p>
            <p>
                Please contact <a href="mailto:roncake@protonmail.com">roncake@protonmail.com</a> for help.
            </p>
        </div>
    }

    @code {
        List<Problem>? _problems = new();
        bool _isError;

        protected override async Task OnInitializedAsync()
        {
            List<Problem>? result = await _httpClient.GetFromJsonAsync<List<Problem>>("/ProblemApi/List");
            if (result is null)
            {
                _isError = true;
                await Task.Delay(0);
                StateHasChanged();
            }
            _problems = result;
            await Task.Delay(0);
            StateHasChanged();
        }

    }

</div>